@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: black !important;
    padding-bottom: 40px;

 }
/* Navbar&searchbar */
.van{
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index:10;
}
.van .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
.van .navitems{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
.van .navitems li{
  list-style: none;
  padding: 0 15px;
}
.van .navitems li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.van .navitems li a:hover{
  color: #ff3d00;
}
.van form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
.van form .searchdata{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
.van form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.van form button:hover{
  background: #e63600;
}
.van .menu-icon,
.van .cancelicon,
.van .searchicon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
.van .menu-icon span,
.van .cancelicon,
.van .searchicon{
  display: none;
}
@media (max-width: 1245px) {
  .van{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  .van{
    padding: 0px;
  }
  .van .logo{
    flex: 2;
    text-align: center;
  }
  .van .navitems{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  .van .navitems.active{
    left: 0px;
  }
  .van .navitems li{
    line-height: 40px;
    margin: 30px 0;
  }
  .van .navitems li a{
    font-size: 20px;
  }
  .van form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  .van form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  .van form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  .van form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .van .menu-icon{
    display: block;
  }
  .van .searchicon,
  .van .menu-icon span{
    display: block;
  }
  .van .menu-icon span.hide,
  .van .searchicon.hide{
    display: none;
  }
  .van .cancelicon.show{
    display: block;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
.van .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  .van .menu-icon,
  .van .cancelicon,
  .van .searchicon{
    margin: 0 20px;
  }
  .van form{
    right: 30px;
  }
}
@media (max-width: 350px){
  .van .menu-icon,
  .van .cancelicon,
  .van .searchicon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}

/*1*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #555;
}
.carousel-wrapper .carousel-slide {
  display: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel-wrapper .carousel-slide, .carousel-wrapper .carousel-slide:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.carousel-wrapper .carousel-slide::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.25);
}
.carousel-wrapper .carousel-slide.is-active {
  display: block;
  opacity: 0;
  -webkit-animation: reveal-content ease forwards 500ms;
          animation: reveal-content ease forwards 500ms;
}
.carousel-wrapper .carousel-slide > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
}
.carousel-wrapper .carousel-slide > div h1,
.carousel-wrapper .carousel-slide > div p {
  opacity: 0;
  -webkit-animation: reveal-content ease forwards 500ms;
          animation: reveal-content ease forwards 500ms;
}
.carousel-wrapper .carousel-slide > div h1 {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
  margin-bottom: 10px;
}
.carousel-wrapper .carousel-slide > div p {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.carousel-wrapper .carousel-dots,
.carousel-wrapper .carousel-arrow {
  z-index: 1;
}
.carousel-wrapper .carousel-dots {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.carousel-wrapper .carousel-dots button {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  outline: none;
  -webkit-transition: background-color ease 250ms;
  transition: background-color ease 250ms;
  cursor: pointer;
}
.carousel-wrapper .carousel-dots button + button {
  margin-left: 15px;
}
.carousel-wrapper .carousel-dots button.is-active {
  background-color: coral;
}
.carousel-wrapper .carousel-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.carousel-wrapper .carousel-arrow.left-arrow {
  left: 25px;
}
.carousel-wrapper .carousel-arrow.right-arrow {
  right: 25px;
}
.carousel-wrapper .carousel-arrow:hover svg path {
  fill: #fff;
}
.carousel-wrapper .carousel-arrow svg {
  display: block;
  height: 20px;
}
.carousel-wrapper .carousel-arrow svg path {
  fill: rgba(255, 255, 255, 0.5);
  -webkit-transition: fill ease 250ms;
  transition: fill ease 250ms;
}

@-webkit-keyframes reveal-content {
  from {
    opacity: 0;
    -webkit-transform: translateX(var(--revealSlideOffset));
            transform: translateX(var(--revealSlideOffset));
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes reveal-content {
  from {
    opacity: 0;
    -webkit-transform: translateX(var(--revealSlideOffset));
            transform: translateX(var(--revealSlideOffset));
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

